<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="keywords" content="前端">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<style>
		</style>
	</head>
	<body>
		<div>
			<%= title %>
		</div>
	</body>
</html>